/* CSS styles for Pokémon list */
.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pokemon-name {
    font-weight: bold;
}

.pokemon-height {
    font-style: italic;
}

.pokemon-card:hover {
    background-color: #be4f4f;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  }
  
  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Set max width */
    position: relative;
    border-radius: 10px;
  }
  
  /* Close button */
  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Image styling */
  .pokemon-img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensures image is centered */
    margin: 0 auto; /* Centers image horizontally */
    margin-bottom: 10px;
  }
  
  /* Other styles as needed */
  .pokemon-name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .pokemon-height {
    font-size: 18px;
    margin-bottom: 10px;
  }
  